.places{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 320px;
    justify-content: center;
}

.titulo{
    position: relative;
    font-size: 30px;
    right: 185px;
    bottom: 70px;
}

.places h2{
    font-size: 30px;
    text-align: center;
}

article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid hsl(358, 100%, 68%);
    border-radius: 4px;
    text-align: center;
    position: relative;
    top: 5px;
    right: 269px;
    
}
